body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.3rem;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: 6rem;
    line-height: 1em;
    font-weight: 800;
}

nav p:first-of-type{
    font-weight: bold;
}

nav p{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
main p{
    font-size: 2em;
    line-height: 1.5em;
}


